.nav {
  padding: 1.5%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(242, 96, 51);
  color: white;
}

#tracker-btn {
  border-width: 4px;
  font-size: 125%;
}

.product-display {
  border: 5px solid rgb(242, 96, 51);
  border-radius: 15px;
  width: 75%;
  margin: 0 auto;
  padding: 5px;
}

.product-display img {
  width: 100%;
  border-radius: 15px;
}

.product-display h3 {
  font-size: 120%;
}

.all-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
