.nav {
  padding: 1.5%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(242, 96, 51);
  color: white;
}

#tracker-btn {
  border-width: 4px;
  font-size: 125%;
}

.product-row {
  margin-top: 3% !important;
}

.product-display {
  border: 5px solid rgb(242, 96, 51);
  border-radius: 15px;
  width: 75%;
  margin: 0 auto;
  padding: 5px;
}

.product-display img {
  width: 100%;
  border-radius: 15px;
}

.product-display h3 {
  font-size: 120%;
}

.all-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.popup {
  background-color: white;
  width: 50%;
  height: 600px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}

.popup-form {
  margin-bottom: 3%;
}

.product-display svg, .popup svg {
  float: right;
}

.hooks {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hooks-header {
  margin-top: 5% !important;
  display: flex;
}

.hooks-header button {
  margin-left: 5%;
}

.hooks h3 {
  font-size: 150%;
}

#create-tracker-btn {
  float: right;
}
